.playground { 
    position: relative; 
    margin: auto; 
} 

.container { 
    display: flex; 
    justify-content: center; 
    height: 20vh; 
    width: 90vw; 
    margin: 0 auto; 
    padding: 0 10px; 
    border: 1px solid grey; 
} 

.card { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    width: 100%; 
    margin: 20px 10px; 
    border-radius: 8px; 
    background: green; 
    color: lime; 
    font-size: 24px; 
    line-height: 2em; 
    font-weight: bold; 
    text-align: center; 
} 

.arrow { 
    position: absolute; 
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent; 
    border-right: 40px solid transparent; 
    border-bottom: 20px solid blue; 
} 